[Unit]
Description=VDJServer Repository Services
Documentation=https://bitbucket.org/vdjserver/vdjserver-repository
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/local/bin/docker-compose -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.yml -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.prod-override.yml stop
ExecStartPre=/usr/local/bin/docker-compose -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.yml -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.prod-override.yml rm --force
ExecStart=/usr/local/bin/docker-compose -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.yml -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.prod-override.yml up
ExecStop=/usr/local/bin/docker-compose -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.yml -f /icat/vdj/vdjserver/vdjserver-repository/docker-compose/run/docker-compose.prod-override.yml down

[Install]
WantedBy=multi-user.target
