[Unit]
Description=VDJServer ADC Repository
Documentation=https://github.com/vdjserver/vdjserver-repository
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/bin/docker compose -f /var/www/docker/vdjserver/vdjserver-repository/docker-compose/v2/docker-compose.yml -f /var/www/docker/vdjserver/vdjserver-repository/docker-compose/v2/docker-compose.prod-override.yml up
ExecStop=/bin/docker compose -f /var/www/docker/vdjserver/vdjserver-repository/docker-compose/v2/docker-compose.yml -f /var/www/docker/vdjserver/vdjserver-repository/docker-compose/v2/docker-compose.prod-override.yml down

[Install]
WantedBy=multi-user.target
